@page
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Loopback API Server</title>
    </head>
    <body>
        <header><h1>API Definition</h1></header>
        <main>
            To use the loopback API, call <c>/api/loopback</c> with method POST or GET.
            This API will return the data provided by the query string (when using GET) or by the request body (when using POST).
        </main>
    </body>
</html>

