* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px minmax(150px, auto);
    grid-template-rows: 150px 1fr 90px;
}

.main-content > header {
    background-color: darkgray;
    grid-column: 1 / 3;
    grid-row:    1 / 2;
}

.main-content > nav {
    background-color: lightgray;
    grid-column: 1 / 2;
    grid-row:    2 / 3;
}

.main-content > main {
    background-color: white;
    grid-column: 2 / 3;
    grid-row:    2 / 3;
}

.main-content > footer {
   background-color: darkgray;
   grid-column: 1 / 3;
   grid-row:    3 / 4;
}
