@page
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Loopback Server</title>
    </head>
    <body>
        <header>Loopback Tester</header>
        <main>
            <form action="/" method="post">
                <div>
                    <label>
                        Last Name: <input type="text" name="last_name" value="">
                    </label>
                </div>
                <div>
                    <label>
                        First Name: <input type="text" name="first_name" value="">
                    </label>
                </div>
                <button>Submit</button>
            </form>
        </main>
    </body>
</html>

